[main.logger.stdoutlogger]
Type=stdout
Level=DEBUG

[main.logger.filelogger]
Type=file
Level=DEBUG
File=out.log

[client.logger.stdoutlogger]
Type=stdout
Level=DEBUG

[client.audio_player]
AudioFile=

[client.logger.filelogger]
Type=file
Level=DEBUG
File=out.log

[commands.dingding]
Name=dingding
Description=Destezo crazy frog
Type=simpleresponse
Response=Destezo crazy frog

[commands.lyrics]
Name=letra
Description=A letra de crazy frog muito foda
Type=simpleresponse
Response=Ring ding ding daa baa
    Baa aramba baa bom baa barooumba
    Wh-wha-what's going on-on?
    Ding, ding
    This is the Crazy Frog
    Ding, ding
    Bem, bem!
    Ring ding ding ding ding ding
    Ring ding ding ding bem bem bem
    Ring ding ding ding ding ding
    Ring ding ding ding baa baa
    Ring ding ding ding ding ding
    Ring ding ding ding bem bem bem
    Ring ding ding ding ding ding
    This is the Crazy Frog
    Breakdown!
    Ding, ding
    Br-br-break it, br-break it
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Bem, bem!
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    This is the Crazy Frog
    A ram me ma bra ba bra bra rim bran
    Dran drra ma mababa baabeeeaaaaaaa!
    Ding, ding
    This is the Crazy Frog
    Ding, ding
    Da, da
    Ring ding ding ding ding ding
    Ring ding ding ding bem bem bem
    Ring ding ding ding ding ding
    Ring ding ding ding baa baa
    Ring ding ding ding ding ding
    Ring ding ding ding bem bem bem
    Ring ding ding ding ding ding
    This is the Crazy Frog
    Ding, ding
    Br-br-break it, br-break it
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Bem, bem!
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    Dum dum dumda dum dum dum
    This is the Crazy Frog
    Bem, bem!

[commands.image]
Name=imagem
Description=Posta uma imagem do crazy frog
Type=randomimage
Images=[
    "path/to/image1.png",
    "path/to/image2.png",
    "path/to/image3.png",
    "path/to/image4.png",
    ]
Texts=[
    "Example text 1",
    "Example text 2",
    "Example text 3",
    ]